body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgreen;
}

header {
    background-color:red;
    color: yellow;
    text-align: center;
    padding: 1em 0;
}

h1 {
    margin: 0;
}

.section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: whitesmoke;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

pre {
    background-color:grey;
    padding: 10px;
    border-radius: 5px;
    overflow: auto;
}

footer {
    text-align: center;
    padding: 20px;
    background-color:blue;
    color: #fff;
}

a {
    color: peru;
}
